body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background-image: URL("https://s3.amazonaws.com/tylermayberry/SolAzteca/background-temp.jpg");
  background-repeat: repeat;
  overflow: hidden; }

a {
  text-decoration: none;
  color: white; }

label {
  font-size: 50px;
  display: none;
  width: 50px; }

.welcomeMessage {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 40px;
  color: dodgerblue;
  margin-bottom: 20px; }

.container {
  padding: 0 30px;
  height: 100%; }

.headerNavLink {
  font-size: 40px;
  font-family: "Bree Serif", serif;
  padding: 0 20px;
  color: white; }

.headerNavLink:hover {
  color: darkorange;
  cursor: pointer; }

.imgNavBtn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.footerNavLink {
  padding: 0 20px; }

.footerNavLink:hover {
  color: lawngreen;
  cursor: pointer; }

.lastLink {
  padding-right: 0; }

#toggle {
  display: none; }

#green {
  color: lawngreen; }

#pink {
  color: #fc007c; }

#welcome {
  width: 100vw;
  height: 100vh;
  background: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5; }

#welcomeHeader {
  font-family: "Exo", sans-serif;
  color: white;
  font-size: 100px;
  margin-bottom: 20px; }

#enterBtn {
  border: 0;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  width: 150px;
  font-size: 30px;
  outline: none;
  border-radius: 15px;
  font-weight: bold;
  background-color: dodgerblue;
  box-shadow: 0 5px 0 0 royalblue;
  color: white; }

#enterBtn:hover {
  background: lawngreen;
  box-shadow: 0 5px 0 0 limegreen;
  cursor: pointer; }

#header {
  z-index: -1;
  height: 200px;
  width: 100vw;
  background: lawngreen; }

#headerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#innerHeaderContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

#headerNavBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px; }

#headerNavLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center; }

#logoContainer {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

#logoImg {
  height: 150px; }

#logoName {
  font-family: "Exo", sans-serif;
  font-size: 50px;
  padding-left: 10px;
  color: white;
  display: inline-block; }

#content {
  min-height: calc(100vh - 100px - 200px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

#contentHeader {
  font-size: 40px;
  font-family: "Bree Serif", serif;
  margin-bottom: 20px; }

#contentImgContainer {
  position: relative;
  margin-bottom: 20px; }

#display-left {
  position: absolute;
  top: 50%;
  left: 1%;
  height: 60px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 40px;
  color: white;
  outline: none;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s; }

#display-left:hover {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  cursor: pointer; }

#display-right {
  position: absolute;
  top: 50%;
  right: 1%;
  height: 60px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 40px;
  outline: none;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s; }

#display-right:hover {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  cursor: pointer; }

#footer {
  height: 100px;
  width: 100vw;
  background: #fc007c;
  font-size: 20px;
  font-family: Arial sans-serif;
  color: white; }

#footerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#footerInnerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

#footerInfoContainer {
  margin-right: auto; }

#footerLinksContainer {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

/*****************************************
************ MEDIA QUERIES ***************
*****************************************/
@media only screen and (max-width: 500px) {
  label {
    display: block;
    cursor: pointer; }

  .headerNavLinksContainer {
    text-align: center;
    width: 100%;
    display: none; }

  .headerNavLinksContainer a {
    display: block; }

  #toggle:checked + .headerNavLinksContainer {
    display: block; } }
.bold {
  font-size: 40px; }

#map {
  height: 400px;
  width: 400px;
  border: 15px solid darkorange; }

#mapContainer {
  margin: 25px 100px; }

#storeHeader {
  font-family: "Exo", sans-serif;
  font-size: 50px; }

#storeAddress, #phoneNumber, #hours {
  font-size: 25px; }

.green {
  color: lawngreen; }

.pink {
  color: #fc007c; }

/*# sourceMappingURL=Contact.css.map */
