@import 'Variables';

.dropbtn {
  background-color: limegreen;
  color: white;
  width: 160px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: lawngreen;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
  z-index: 1;
}

.dropdownLink {
  color: white;
  background: #c90063;
  padding: 12px 16px;
  font-family: $defaultFont;
  text-decoration: none;
  display: block;
}

.dropdownLink:hover {
  background: $footerColor;
}

.show {
  display:block;
}

#jumpToBtn {
  font-size: 20px;
  font-family: $defaultFont;
}